.column-item a {
    display: flex;
    width: 100%;
    height: 75px;
    padding: 15px 0;
}

.column-item + .column-item {
    border-top: 1px solid rgb(230, 232, 235);
}

.column-left {
    width: 130px;
    height: 75px;
    margin-right: 10px;
}

.column-right {
    flex: 1;
    position: relative;
}

.column-right-title {
    color: #3d464d;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 25px;
}

:global(#column-box) {
    padding: 0 15px;
    box-sizing: border-box;
}

.column-right-info {
    font-size: 13px;
    color: #828a92;
    position: absolute;
    left: 0;
    bottom: 0;
}